* {
   box-sizing: border-box;
}
body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   /* animation: change-color 20s ease 2s 3 normal none running; */
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar-nav {
   width: 91%;
   justify-content: center;
}

.navbar-dark .navbar-brand {
   color: rgb(255 0 0 / 75%);
   font-size: larger;
   transition: 0.5s;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
   color: rgba(255, 255, 255, 0.55);
}
.navbar-brand {
   font-family: 'dancing script';
}

.navbar-brand:hover {
   transform: scale(0.9) rotate(-8deg);
   /* transform: rotate(-8deg); */
}

.home {
   height: 91vh;
   background-color: #8f0000;
   animation: change-color 20s ease 2s infinite normal none running;
}
.about-us {
   height: 91vh;
   background-color: #8f0000;
}

.about-us h2 {
   margin-bottom: 50px;
}
.about-us p {
   font-size: 20px;
   text-align: left;
}

.overlay {
   background-color: rgb(0 0 0 / 50%);
   color: #fff;
   /* margin-top: 50px; */
   position: relative;
   top: 40vh;
   transform: translate(0%, -50%);
   max-width: 800px;
   padding: 12px;
   border-radius: 10px;
}
.home h2,
.home div,
.about-us div {
   text-align: center;
}

.home h2 {
   margin-bottom: 25px;
}
.home .overlay,
.about-us .overlay {
   margin: 0 auto;
}

.all-users {
   background-color: black;
   color: #fff;
   padding: 20px;
}
.all-users h2 {
   text-align: center;
}
.all-users ul {
   list-style: none;
   padding: 15px;
   margin-bottom: 0;
}
.all-users ul li {
   margin: 15px;
}

.adduser-div {
   margin: 10px auto 0;
   width: 160px;
   text-align: center;
}

a.nav-link {
   font-weight: bold;
}

.active {
   color: rgb(255 0 0 / 75%) !important;
   font-weight: bold;
}

.user-conrainer {
   background-color: #8f0000;
   min-height: 91vh;
}
.user-conrainer h2 {
   text-align: center;
   padding: 30px 0;
   color: #ffffffd9;
}

.user-conrainer .overlay {
   margin: 0 auto;
   position: unset;
   top: unset;
   transform: none;
}

.form {
   background-color: black;
   border-radius: 20px;
   box-sizing: border-box;
   height: 500px;
   padding: 20px;
   width: 80%;
   margin: 0 auto;
}

.title {
   color: #eee;
   font-family: sans-serif;
   font-size: 36px;
   font-weight: 600;
   margin-top: 30px;
}

.subtitle {
   color: #eee;
   font-family: sans-serif;
   font-size: 16px;
   font-weight: 600;
   margin-top: 10px;
}

.input-container {
   height: 50px;
   position: relative;
   width: 100%;
   margin-bottom: 30px;
   color: #ff00009e;
}

.ic1 {
   margin-top: 40px;
}

.ic2 {
   margin-top: 30px;
}

.input {
   background-color: #303245;
   border-radius: 12px;
   border: 0;
   box-sizing: border-box;
   color: #eee;
   font-size: 18px;
   height: 100%;
   outline: 0;
   padding: 4px 20px 0;
   width: 100%;
}

.cut {
   background-color: black;
   border-radius: 10px;
   height: 20px;
   left: 20px;
   position: absolute;
   top: -20px;
   transform: translateY(0);
   transition: transform 200ms;
   width: 76px;
}

.cut-short {
   width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
   transform: translateY(8px);
}

.placeholder {
   color: #65657b;
   font-family: sans-serif;
   left: 20px;
   line-height: 14px;
   pointer-events: none;
   position: absolute;
   transform-origin: 0 50%;
   transition: transform 200ms, color 200ms;
   top: 20px;
   background-color: unset;
   opacity: 1;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
   transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
   color: #808097;
}

.input:focus ~ .placeholder {
   color: #dc2f55;
}

.submit {
   border-radius: 12px;
   font-size: 18px;
   height: 50px;
   margin-top: 38px;
   width: 100%;
}

.container-edituser {
   background-color: #8f0000;
}
.container-edituser h2 {
   text-align: center;
   padding: 30px 0;
   color: #ffffffd9;
}

.create-user {
   background-color: #8f0000;
}
.create-user h2 {
   text-align: center;
   padding: 30px 0;
   color: #ffffffd9;
}

.back {
   padding: 20px 0;
   text-align: center;
}

hr {
   color: red;
}

@keyframes change-color {
   0% {
      background-color: #8f0000;
   }
   16.6% {
      background-color: blue;
   }
   33.2% {
      background-color: yellow;
   }
   49.8% {
      background-color: darkgreen;
   }
   66.4% {
      background-color: rgb(0, 174, 255);
   }
   83% {
      background-color: fuchsia;
   }
   100% {
      background-color: #8f0000;
   }
}

.all-users .btn {
   width: 93px;
}





.customAlert {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #a19d9dd2;
  width: 60%;
  padding: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 22px;
  align-items: center;
}

.customAlertyes,
.customAlertno {
  width: 80px;
  color: #fff;
  margin: 10px;
}

.customAlertyes {
  background: red
}
.customAlertno {
  background: blue;
}


/* start loading */
.lds-ring {
  width: 100%;
  height: 100%;
  background-color: #3d3d3d;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* end loading */
